.right-content {
  margin: 30px;

  .right-header {
    padding: 10px;
    margin: 20px 0;
    background-color: var(--head-bgcolor);
    color: var(--text-color);

    h1 {
      margin-bottom: 10px;
    }
  }

  .right-table {}
}